/* Add these styles to your CSS file */

.create-note {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 16px;
    transition: height 0.3s ease;
  }
  
  .create-note.expanded {
    height: 150px; /* Adjust the height as needed */
  }
  
  .create-note input,
  .create-note input:focus,
  .create-note textarea,
  .create-note textarea:focus {
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 8px;
    border: 0px;
    font-size: 1em;
  }

  /* .create-note input:focus,
  .create-note textarea:focus {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 8px;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  } */
  
  .create-note textarea {
    resize: none;
  }
  
  .create-note textarea:focus {
    outline: none;
    border-color: #4CAF50; /* Highlight border color when focused */
  }
  