.signup form {
    height: 390px;
    width: 400px;
    background-color: rgba(210, 142, 142, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 41%;
    left: 45%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(64, 55, 55, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 0px 35px;
}
.signup form *{
    font-family: 'Poppins',sans-serif;
    color: #854e4e;
    letter-spacing: 0.5px;
    outline:none;
    border:none;
}
.signup .Link{
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    margin-top: 10px;
}

.signup label{
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.signup input{
    display: block;
    height: 45px;
    width: 100%;
    background-color: rgba(230, 225, 225, 0.723);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}
.signup button{
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button {
    /* Your button styling goes here */
    margin-top: 16px;
  }